[submodule "wallpapers"]
	path = wallpapers
	url = https://github.com/sammy-ette/walls
[submodule "libs/extrautils"]
	path = libs/extrautils
	url = https://github.com/sammy-ette/awesome-extrautils
[submodule "libs/rubato"]
	path = libs/rubato
	url = https://github.com/andOrlando/rubato
[submodule "libs/switcher"]
	path = libs/switcher
	url = https://github.com/troglobit/awesome-switcher
[submodule "libs/awexygen"]
	path = libs/awexygen
	url = https://github.com/xinhaoyuan/awexygen
[submodule "libs/bling"]
	path = libs/bling
	url = https://github.com/Aproxia-dev/bling
